.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--info-background);
  padding: 20px;
  margin: 0;
}

.btns {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn {
  display: inline-flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--intensive-yellow);
  color: var(--black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 54px 80px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 96px 128px;
  }
}
