.wrapper {
  padding: 36px 15px;
  max-width: 566px;
  position: relative;
}

.closeIcon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  fill: var(--black);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.text {
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  padding: 16px 18px;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 12px;
  border: 1px solid var(--border-input);
  margin-bottom: 16px;
}

.input::placeholder {
  color: var(--black);
}

.error {
  color: var(--almost-red);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 12px;
  margin-bottom: 16px;
  padding-left: 16px;
}

.iconBtn {
  position: absolute;
  top: 40%;
  right: 3%;
  background-color: transparent;
}

.btnSubmit {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 24px;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 64px;
  }
}

/* modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: relative;
  max-width: 566px;
  background-color: white;
  border-radius: 12px;
  overflow-y: auto;
}
