.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navToPagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.authBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .navToPagesWrapper {
    flex-direction: row;
    gap: 28px;
  }

  .authBlock {
    flex-direction: row;
    gap: 16px;
  }
}
