.wrapper {
  width: 100vw;
  background: var(--info-background);
  padding: 20px;
  margin: 0;
}

.btnBlock {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 54px 80px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 96px 128px;
  }
}
