.btn {
  display: inline-flex;
  padding: 16px 58px;
  justify-content: center;
  align-items: center;
  background: var(--intensive-yellow);
  border-radius: 12px;
  border: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
